process.executor = 'slurm'
process.cache = 'lenient'
process.queue = 'defq'
process.shell = ['/bin/bash','-e']
executor { queueSize = 2}

env {
	NXF_EXECUTOR = "slurm"
	NXF_TEMP = "/mnt/scratch/SILENT/Act3/Josh-scratch/subset_variant_aggregation/tmp"
}

launchDir	= "/mnt/scratch/SILENT/Act3/Josh-scratch/subset_variant_aggregation/Variant_catalogue_pipeline"
workDir = "/mnt/scratch/SILENT/Act3/Josh-scratch/subset_variant_aggregation/Variant_catalogue_pipeline/work"
